*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
}

body {
    background-image: url("https://media.istockphoto.com/photos/jump-at-superluminal-speed-between-the-stars-picture-id1271527965?k=20&m=1271527965&s=612x612&w=0&h=9TNl7LmxUVVVODkumoK52s_Xv_pTUeqo0-PW1H-lUvM=");
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

article {
    color: black;
    text-align: center;
    vertical-align: top;
    padding-bottom: 25px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #8a8d8f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    line-height: 1.5;
    position: relative;
}

#result-container {
    width: 800px;
    max-width: 80%;
}

li {
    text-align: left;
}

#popular {
    text-align: left;
    padding-top: 20pt;
}

#guardian-container {
    width: 100%;
    max-width: 80%;
    background-color: #8a8d8f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    line-height: 1.5;
}

#sentinel-container {
    width: 100%;
    max-width: 80%;
    background-color: #8a8d8f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    line-height: 1.5;
}

#consular-container {
    width: 100%;
    max-width: 80%;
    background-color: #8a8d8f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    line-height: 1.5;
}

#non-jedi-container {
    width: 100%;
    max-width: 80%;
    background-color: #8a8d8f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    line-height: 1.5;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 30px 0;
}

.btn {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    line-height: 1.5;
}

.btn:hover {
    border-color: #fff36d
}

.btn:active {
    background-color: #fff36d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn:focus {
    background-color: #fff36d;
}

.start-btn, .next-btn, .results-btn, .reset-btn, .view-characters-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form {
    width: 800px;
    max-width: 80%;
    background-color: #8a8d8f;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
}

input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
}

#character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.character-cover-image {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.character-card {
    background-color: #8a8d8f;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.first-name {
    font-size: 18px;
    margin: 5px 0;
}

.last-name {
    font-size: 18px;
    margin: 5px 0;
}

.character-class {
    font-size: 18px;
    margin: 5px 0;
}
  
.house-price {
    font-size: 15px;
    margin: 5px 0;
} */

.hide {
    display: none;
}